/*======= GLOBAL STYLES ===========*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  --color1: #46a299;
  --color2: #132827;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: white;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: white;
}

button {
  padding: 2rem 6rem;
  background-color: var(--color1);
  border: none;
  outline: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: var(--color2);
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 4rem 0;
}

h4,
h5 {
  font-size: 2.8rem;
}

/*======= NAVIGATION ===========*/
.main-header {
  background-color: var(--color2);
  position:sticky;
  top:0;
  z-index: 99;
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  }

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style: none;
}

nav li {
  padding: 0 1rem;
}

#logo {
  flex: 1 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

/*======= HERO ===========*/
.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, .8), transparent), url("imgs/landing-page-molo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5rem;
}

/*======= locations SECTION ===========*/
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .6), transparent), url("imgs/gdansk-city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  color: var(--color1);
text-shadow: 2px 2px 15px #fff;

}

/* background-clip doesn't work in Brave browser
.locations-head h3 {
    background: linear-gradient(var(--color1), var(--color2));
    background-clip: text;
   -webkit-text-fill-color: transparent;
} */

.cloud {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.moving-cloud-1 {
  animation: cloudAnimation1 5s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation2 8s infinite alternate ease-in-out;
}

@keyframes cloudAnimation1 {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(10%, -5%);
  }
}

@keyframes cloudAnimation2 {
  0% {
    transform: translate(0%, 0%) scale(1.5);
  }
  100% {
    transform: translate(10%, -10%) scale(1);
  }
}

/*======= BENEFITS SECTION ===========*/
.benefits-head {
  background-color: var(--color1);
  padding: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  min-width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  text-align: center;
}

.card {
  color: var(--color2);
  min-height: 40vh;
  flex: 1 1 25rem;
  margin: 2rem 4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1),
    0 20px 20px rgba(0, 0, 0, .1);
}

.card i {
  color: white;
  background-color: var(--color2);
  width: 100%;
  min-height: 35%;
  align-self: center;
  font-size: 10rem;
  padding: 3rem;
}

.card h4 {
  margin: 3rem 1rem 1rem;
}

.card p {
  margin: 1rem 1rem 3rem;
}

/*=======  CONTACT FORM SECTION ===========*/
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .6), transparent), url("imgs/tatra-mountain-contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contact-wrapper {
  background-color: rgba(19, 40, 39, .8);
  min-width: 50vw;
  border-radius: 2rem;
  text-align: center;

}

.contact-head {
    padding: 2rem 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
}

.contact-form label {
  padding: 2rem 0;
  margin: 1rem;
}

.contact-form input {
  margin-left: 2rem;
  padding: 1rem 2rem;
}

.contact-form button {
  margin: 3rem 0 0;
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/*======= FOOTER  ===========*/
footer {
  margin-top: auto;
  background-color: var(--color2);
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

footer i {
  padding: 1rem;
}

/*======= MEDIA QUERY ===========*/
@media screen and (max-width:932px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }
}

/*======= ================= ===========*/
@media (max-width:700px) {

  /*======= ================= ===========*/
  .moving-cloud-1 {
    top: -10%;
  }

  .moving-cloud-2 {
    height: 60vh;
  }

  /*======= ================== ===========*/
}

@media (max-width:1300px) {

  /*======= ================= ===========*/
  .moving-cloud-1 {
    height: 40vh;
  }

  /*======= ================== ===========*/
}
