*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  --dark: #4c6e97;
  --medium: #663b34;
  --light: #fff;
  --color1: #9cce40;
  --color2: #32c8b3;
  --bgcolor: #131c27;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: white;
}

button {
  padding: 2rem 6rem;
  background-color: var(--dark);
  border: none;
  outline: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: var(--bgcolor);
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

/*======= NAVIGATION ===========*/
.main-header {
  color: white;
  background-color: var(--bgcolor);
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style: none;
}

nav li {
  padding: 0 1rem;
}

#logo {
  flex: 1 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

/*======= HERO ===========*/
.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, .8), transparent), url("imgs/landing-page-molo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5rem;
}

.hero h3 {
  padding: 4rem;
}

/*======= locations SECTION ===========*/
#locations {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, .6), transparent), url("imgs/gdansk-city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  margin: 4rem 0;
  /* background-clip doesn't work in Brave browser
  background: linear-gradient(var(--bgcolor), var(--medium));
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.cloud {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.moving-cloud-1 {
  animation: cloudAnimation1 5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation1 {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(10%, -5%);
  }
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation2 8s infinite alternate ease-in-out;
}

@keyframes cloudAnimation2 {
  0% {
    transform: translate(0%, 0%) scale(1.5);
  }

  100% {
    transform: translate(10%, -10%) scale(1);
  }
}

/*======= SECTION ===========*/
/*======= SECTION ===========*/
/*======= SECTION ===========*/
/*======= FOOTER  ===========*/
footer {
  margin-top: auto;
}

/*======= MEDIA QUERY ===========*/
@media screen and (max-width:932px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }
}

/*======= ================= ===========*/
@media (max-width:700px) {

  /*======= ================= ===========*/
  .moving-cloud-1 {
    top: -10%;
  }

  /*======= ================== ===========*/
}

@media (max-width:1300px) {

  /*======= ================= ===========*/
  .moving-cloud-1 {
    height: 40vh;
  }

  /*======= ================== ===========*/
}
